@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
}


.container {
    max-width: 1320px;
    margin: 0 auto;
    height: 100vh;
}


.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 2rem;
}

.header img {
    width: 170px;
    padding-bottom: 20px;
}

.main {
    display: flex;
    align-items: center;
    gap: 40px;
}


.text h1 {
    color: #FFF;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 36px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.text p {
    color: #FFF;
    font-family: 'Poppins',
        sans-serif;
    line-height: 1.8;
    margin-bottom: 30px;
}

.text a {
    display: inline-block;
    font-family: 'Poppins',
        sans-serif;
    background: #FFF;
    padding: 13px 50px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .8);
    transition: all .3s ease;
}

.text a:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social {
    text-align: right;
}


.social a {
    color: #FFF;
    position: relative;
    font-size: 18px;
    transition: all .3s ease;
}

.social a:not(:first-child) {
    margin-left: 2rem;
}

.social a:nth-child(2) {
    margin-left: 2.4rem;
}
.social a:hover  {
    color: hsl(300, 69%, 71%);
}
@media only screen and (max-width: 1440px) {
    .img img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        text-align: center;
    }

    .social {
        text-align: center;
        margin-top: 50px;
    }

    .text h1 {
        line-height: 1.5;
        font-size: 26px;
    }

    .text a {
        padding: 10px 70px;
    }
}
